/* Created by: Benjamin Abebe
* Created on: Feb 2025
* This file contains the CSS for index.html
*/


.mdl-layout__content {
  margin-left: 60px;
}

.mdl-layout__header-row {
  background-color: green;
}


body {
  background-color: silver;
}


img {
  float: right;
  height: 200px;
}